<log4net>
	<appender name="traceAppender" type="log4net.Appender.TraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d [%t] %-5p %c %m%n"/>
		</layout>
	</appender>
	<appender name="fileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="C:\\Logs\\SessionMonitor.WindowsApp\\SessionMonitor.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level - %message%newline" />
		</layout>
	</appender>
	<appender name="smtpExceptionAppender" type="log4net.Appender.SmtpAppender">
		<to value="chambersa@vsl.eu.com" />
		<from value="chambersa@vsl.eu.com" />
		<subject value="SessionMonitor Exception" />
		<smtpHost value="localhost" />
		<bufferSize value="0" />
		<lossy value="false" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
			<levelMax value="FATAL" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%newline%logger%newline%newline%date%newline%newlineException Details%newline%newline%message%newline%newline%newline"/>
		</layout>
	</appender>
	<root>
		<level value="ALL"/>
	</root>
	<logger name="SessionMonitorLogger">
		<level value="ALL" />
		<appender-ref ref="fileAppender" />
		<!--<appender-ref ref="smtpExceptionAppender" />
		<appender-ref ref="traceAppender"/>-->
	</logger>
</log4net>